.auth-page-container {
    width: 100%;
    height: 80vh;
}

.auth-page-row {
    height: 100%
}

.auth-page-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

.auth-page-brand-div {
    margin: 20px;
}

.auth-page-form-box {
    padding: 60px 20px;
    border-radius: 5%;
    min-width: 25rem;
}

.auth-page-header {
    text-align: center;
    margin-bottom: 30px;
}

.signup-text {
    font-size: 12px;
}
