:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "MagentaRose";
  src: local("MagentaRose"),
   url("./assets/fonts/magenta-rose/MagentaRose.ttf") format("truetype");
  font-weight: Regular;
}

@font-face {
  font-family: "MacondoSwashCaps";
  src: local("MacondoSwashCaps-Regular"),
   url("./assets/fonts/macondo-swash-caps/MacondoSwashCaps-Regular.ttf") format("truetype");
  font-weight: Regular;
}
