.board-control-panel {
  display: flex;
}

.board-control-panel-knob {
  margin: 0 5px;
}

.board-control-panel-field-label {
  font-size: 24px;
}

.board-control-panel-field-hide {
  display: none;
}

.board-control-panel-spacer {
  margin-inline-end: auto;
}
